{% extends 'layout.html' %}

{% block title %}用户管理{% endblock %}

{% block nav_user %}class='active'{% endblock %}



{#用户名，用户内容，手机号，年龄，email，注册时间，登陆时间#}

{% block container %}
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>用户名</th>
                <th>年龄</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>注册时间</th>
                <th>登陆时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for user in data %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.register_time }}</td>
                    <td>{{ user.login_time }}</td>
                    <td>
                        <a href="{% url 'user:edit' %}?id={{ user.id }}">编辑</a>
                        <a href="{% url 'user:delete' %}?id={{ user.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}